<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#DC6B19" />
  <title>Rikkriuk Apps</title>

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap" rel="stylesheet">

  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
</head>

<body>
  <a href="#footer" tabindex="0" class="skip-link">Menuju ke konten</a>
  <!-- 
    - #HEADER
  -->

  <header class="app-header">
    <div class="app-header__container">

      <h1 class="app-header__title">Rikkriuk App</h1>

      <button tabindex="0" class="app-header__menu-btn--open" aria-label="open menu" data-nav-toggler>
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M4 6H20M4 12H20M4 18H20" stroke="#fff" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g>
        </svg>
      </button>

      <nav class="app-header__navbar overlay" data-navbar>

        <button class="app-header__menu-btn--close" aria-label="close menu" data-nav-toggler>
          <svg fill="#fff" viewBox="0 0 200 200" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            stroke="#fff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <title></title>
              <path
                d="M114,100l49-49a9.9,9.9,0,0,0-14-14L100,86,51,37A9.9,9.9,0,0,0,37,51l49,49L37,149a9.9,9.9,0,0,0,14,14l49-49,49,49a9.9,9.9,0,0,0,14-14Z">
              </path>
            </g>
          </svg>
        </button>

        <ul class="app-header__nav-list">

          <li>
            <a href="#" class="app-header__nav-link">Home</a>
          </li>

          <li>
            <a href="#/favourite" class="app-header__nav-link">Favourite</a>
          </li>

          <li>
            <a href="https://www.instagram.com/amiyourkey/" class="app-header__nav-link">About me</a>
          </li>
        </ul>

      </nav>

    </div>

    <div class="app-header__motto">
      <h2>Ora makan ora uwu</h2>
    </div>

  </header>

  <!-- 
   - #MAIN
  -->

  <main id="main-content" tabindex="-1">
  </main>

  <!-- 
   - #FOOTER
  -->

  <footer id="footer">
    <h3>&copy; 2024 - Rikkriuk Apps</h3>
  </footer>

</body>

</html>